
#box {
  position: relative;
  width: 350px;
  height: 250px;

  color: lightgray;
  background-color: var(--cor-menus);
  border-radius: 5% 5% 5% 5% / 2% 2% 2% 2% ;
  box-shadow: 1000px 1000px 5px 5px  rgba(0,0,0,.15);
  transition: all .7s ease;
}
#box:hover {
  border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
  box-shadow: 10px 10px 10px rgba(0,0,0,.25);
  background-color: #f56302;
  color: black;
}
